.country-details-container {
    background: var(--secondary-color);
}

.country-details-stats-section .card {
    background-color: var(--blue-color);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(94, 171, 214, 0.5) !important;
}
.country-details-stats-icon {
    width:60px;
    height:60px;
    border-radius:50%;
    background:linear-gradient(135deg,#00BFFF, var(--light-color));
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 2px 4px rgba(255, 255, 255, 1));
    outline: 1px solid rgba(255, 255, 255, 0.8);
}
.country-details-description .card {
    background: rgba(94, 171, 214, 0.7);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(94, 171, 214, 0.5)!important;
}
.country-details-description h3 {
    color: var(--white-color);
    font-weight: 600;
    margin-bottom: 8px;
}
.country-details-description p {
    color: var(--white-color);
    font-weight: 400;
    margin-bottom: 0px !important;
    padding-bottom: 8px;
}
.country-details-description p:last-child {
    padding-bottom: 0;
}

.country-details-universities-list .university-card {
    background-color: var(--blue-color);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(94, 171, 214, 0.5)!important;
    transition: transform 0.3s ease;
}

.card-img-top{
    display: flex;
    justify-content: center;
}
.country-details-universities-list .card-img-top img {
    height:100px;
    width: 100px;
    border-radius: 50% !important;
    object-fit:cover;
    margin: 0 auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    filter: drop-shadow(0 4px 6px rgba(255, 255, 255, 1));
    outline: 2px solid rgba(255, 255, 255, 0.8);
}

.country-details-universities-list .university-card:hover {
    transform: translateY(-8px);
}
.country-details-cover-photo {
    height: 400px;
    box-shadow: 0 6px 10px rgba(94, 171, 214, 0.5)!important;
    border-radius: 1rem;
}
.country-details-cover-photo  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.country-details-top-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white-color);
    background: #0e317575;
    z-index: 2;
    padding: 15px;
    border-radius: 1rem;
    max-width: 700px;
    box-shadow: 0 6px 10px rgba(94, 171, 214, 0.5)!important
}
.country-details-top-info h1 {
    color: var(--white-color) !important;
}
.country-details-cover-bottom-flag {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.country-details-cover-bottom-flag img {
    border-radius: 50% !important ;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    filter: drop-shadow(0 4px 6px rgba(255, 255, 255, 1));
    outline: 2px solid rgba(255, 255, 255, 0.8);
    object-fit: cover;
}

@media (max-width: 767px) {
.country-details-top-info {
    max-width: 100%;
    width: 100%;
}
}


.position-relative {
    position: relative!important;
    display: flex;
    justify-content: center;
}
