.course-list-card {
    border-radius: 1rem;
    box-shadow: 0 6px 10px rgba(31, 38, 135, 0.5) !important;
    background: var(--blue-color);
    width: 100%;
    transition: all 0.3s ease;
}

.course-list-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(94, 171, 214, 0.5) !important;
}

.card-header-section {
    padding: 15px;
    padding-top: 50px;
    border-bottom: 1px solid var(--light-color);
}

.course-title {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.3;
}

.university-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.university-details h3 {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.university-details p {
    color: var(--white-color);
    margin: 0;
}

.university-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.university-logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    filter: drop-shadow(0 4px 6px rgba(255, 255, 255, 1));
    outline: 2px solid rgba(255, 255, 255, 0.8);
}

.card-body-section {
    padding: 20px 15px;
    color: var(--white-color);
}

.info-grid {
    border-bottom: 1px solid var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.info-item {
    padding: 5px;
    border-left: 1px solid var(--light-color);
    transition: all 0.3s ease;
    flex: 1;
}
.info-item:nth-child(odd) {
    border-left: none;
}
.info-item h4 {
    font-size: 14px;
}



/* @media (max-width: 576px) {
    .info-grid {
        grid-template-columns: 1fr;
        gap: 0;
    }

} */
