.university-card {
    transform: translateY(0);
    box-shadow: 0 6px 10px rgba(31, 38, 135, 0.5) !important;
    background: var(--blue-color);
    color: var(--white-color);
    transition: all 0.4s ease;
}

.university-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(31, 38, 135, 0.6) !important;
}
.university-logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--light-color);
    padding: 2px;
    box-shadow: 0 6px 10px rgba(255, 255, 255, 0.4);
    transition: all 0.5s ease;
    transform: perspective(500px) rotateY(0deg) scale(1);
}

.university-card:hover .university-logo img {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 8px 16px rgba(0, 0, 0, 0.3);
    border-color: var(--light-color);
    transform: perspective(500px) rotateY(10deg) scale(1.08);
    filter: brightness(1.2);
}

.university-title {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px !important;
    letter-spacing: 0.4px;
}
.university-subtitle {
    color: var(--white-color);
}

.contact-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-color);
    transition: all 0.3s ease;

}

.contact-item:last-child {
    border-bottom: none;
}

.contact-item:hover {
    padding-left: 0.5rem;
    background: linear-gradient(90deg, rgba(96, 165, 250, 0.05) 0%, transparent 100%);
}

.contact-icon {
    width: 25px;
    height: 25px;
    background: linear-gradient(135deg, var(--light-color));
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.contact-icon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--accent-red);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.contact-item:hover .contact-icon::before {
    opacity: 0.2;
}

.contact-icon i {
    color: white;
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
}



